<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006494510001-f4vbo9l2mf5804m62jg4g3dq024h5qdv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006494510001-f4vbo9l2mf5804m62jg4g3dq024h5qdv</string>
	<key>API_KEY</key>
	<string>AIzaSyAJw5tI1zrUk3diMA70rQSNg3pDgbs9D1A</string>
	<key>GCM_SENDER_ID</key>
	<string>1006494510001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rushipatel.Bank-Standard</string>
	<key>PROJECT_ID</key>
	<string>bank-standard-77d20</string>
	<key>STORAGE_BUCKET</key>
	<string>bank-standard-77d20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006494510001:ios:abef6a643fd0b1b1302b90</string>
	<key>DATABASE_URL</key>
	<string>https://bank-standard-77d20-default-rtdb.firebaseio.com</string>
</dict>
</plist>